button {
  margin-bottom: 10px;
  width: 100px;
}

div circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}

.container {
  width: 50px;
  height: 140px;
  background-color: grey;
}

#red {
  margin: 10px 0px 0px 10px;
  background-color: red;
}

#yellow {
  margin: 50px 0px 0px 10px;
  background-color: yellow;
}

#green {
  margin: 90px 0px 0px 10px;
  background-color: green;
}
